# Node modules
node_modules

# Laravel
.mcp.json
.env.example
.env.testing
phpstan.neon
phpunit.*.xml
rector.php
pint.json
tests
stubs
app-modules/**/tests
.phpunit.cache
.ai

# Ide
.editorconfig
.prettierignore
.prettierrc
*.md
.idea
.vscode
.junie
.claude

# Git
.git
.gitignore
.gitattributes
.github
.gitkeep

# Others
art
