# Node.js
#
/node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-json.lock
composer.lock
pnpm-lock.yml
/vendor
composer.phar

/.idea
/.vscode
/projects

# Laravel Exclude
#
.phpunit.cache
.phpunit.result.cache
/public/build
/public/hot
/public/storage
/public/media
/public/**/*.xml
/storage/*.key
/storage/framework/cache
.env
.env.backup

# OSX
#
.DS_Store
Thumbs.db

# SublimeText
#
*.sublime-project
*.sublime-workspace
