includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 8
    excludePaths:
        - app/Http/Resources/
        - app/Http/Middleware/
        - app/Actions/
        - app/Notifications/
        - app/Http/Controllers/OAuthController.php
        - app/Http/Controllers/Api/Auth/LoginController.php
        - app/Markdown/MarkdownHelper.php
    scanDirectories:
        - ./helpers
    ignoreErrors:
        - "#^Cannot access property \\$transaction on array\\|object\\.$#"
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
