includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - app-modules/

    level: 8

    tmpDir: /tmp/phpstan

    excludePaths:
        - app-modules/*/*/tests/*
        - tests
        - app/Http/
        - app/Actions/
        - app/Notifications/
        - app/Markdown/*
        - app/Models/Traits/HasSlug.php

    ignoreErrors:
        - "#^Cannot access property \\$transaction on array\\|object\\.$#"
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
