includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 8
    excludePaths:
        - app/Http/Resources/
        - app/Actions/
        - app/Notifications/
# Remove this config after migrate everything to livewire
        - app/Http/Controllers/*
        - app/Markdown/*
        - app/Traits/HasSlug
    ignoreErrors:
        - "#^Cannot access property \\$transaction on array\\|object\\.$#"
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
