.iti {
    display: block;
}

.iti__selected-flag {
    padding: 0 10px;
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/** Choices.js **/
.choices {
    margin-top: 8px;
}

.standard .choices__input.choices__input--cloned {
    @apply hidden;
}

.standard .choices__inner {
    @apply flex h-12 w-full items-center rounded border border-gray-300 bg-white p-2 !important;
}

.standard .choices__list--dropdown {
    @apply border-2 border-gray-300 !important;
}

.standard .choices__list--dropdown .choices__list {
    @apply border border-gray-500 bg-white !important;
}

.standard .choices__list--single {
    @apply p-0 !important;
}

.standard .choices__item {
    @apply my-0 cursor-pointer rounded border-0 bg-white px-2 py-1 text-sm text-gray-500 !important;
}

.standard .choices__item.choices__item--choice {
    @apply rounded-none py-2 !important;
}

.standard .choices__item.choices__item--choice.choices__item--selectable {
    @apply rounded-none bg-white p-2 text-gray-500 !important;
}

.standard .choices__item.choices__item--choice.choices__item--selectable:hover {
    @apply bg-white !important;
}

.standard .choices__item.choices__item--selectable {
    @apply border-green-500 bg-green-500 text-white !important;
}

.standard .choices__item.is-highlighted {
    @apply border-green-600 bg-green-600 text-white !important;
}

.standard .choices[data-type*='select-one']:after {
    border-color: var(--color-input-border) transparent transparent transparent !important;
}

.standard .choices[data-type*='select-one'] .choices__input {
    @apply rounded-none border-b-2 border-gray-300 !important;
}

.standard .choices__item.choices__item--choice.choices__item--selectable.is-highlighted,
.standard .choices__item.choices__item--choice.is-selected.choices__item--selectable {
    @apply border-green-500 bg-green-500 text-white !important;
}
