.snow, .snow:before, .snow:after {
  position: absolute;
  top: -1000px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-image: radial-gradient(4px 4px at 210px 986px, white 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 709px 620px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 923px 574px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 190px 185px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 902px 280px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 7px 440px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 337px 575px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 939px 72px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 62px 779px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 713px 297px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 271px 316px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 888px 561px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 630px 583px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 389px 597px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 899px 102px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 13px 280px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 244px 355px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 670px 363px, white 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 496px 843px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 544px 881px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 800px 966px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 538px 898px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 80px 562px, white 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 551px 369px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 598px 975px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 401px 609px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 309px 457px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 740px 921px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 222px 684px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 281px 845px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 254px 184px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 430px 560px, white 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 415px 382px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 485px 529px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 550px 655px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 715px 69px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 800px 587px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 283px 746px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 38px 977px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 139px 721px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 910px 95px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 48px 27px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 954px 506px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 389px 222px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(5px 5px at 17px 794px, white 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 923px 873px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 721px 593px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(3px 3px at 752px 4px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(4px 4px at 32px 258px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),
                    radial-gradient(6px 6px at 839px 515px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0));
  background-size: 1000px 1000px;
  animation: snow 15s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -333.3333333333px;
  opacity: 0.3;
  animation-duration: 30s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 45s;
  animation-direction: reverse;
  margin-left: -500px;
  opacity: 0.45;
  filter: blur(2px);
}

@keyframes snow {
  to {
    transform: translateY(1000px);
  }
}
