.brand-laravel {
  color: var(--brand-laravel);
}

.brand-alpinejs {
  color: var(--brand-alpinejs);
}

.brand-javascript {
  color: var(--brand-javascript);
}

.brand-typesript {
  color: var(--brand-typesript);
}

.brand-react {
  color: var(--brand-react);
}

.brand-vue-js {
  color: var(--brand-vue-js);
}

.brand-php {
  color: var(--brand-php);
}

.brand-digital-ocean {
  color: var(--brand-digital-ocean);
}

.brand-forge {
  color: var(--brand-forge);
}

.brand-packages {
  color: var(--brand-packages);
}

.brand-outils {
  color: var(--brand-outils);
}

.brand-tailwindcss {
  color: var(--brand-tailwindcss);
}

.brand-design {
  color: var(--brand-design);
}

.brand-open-source {
  color: var(--brand-open-source);
}

.brand-freelance {
  color: var(--brand-freelance);
}

.brand-salaire {
  color: var(--brand-salaire);
}

.brand-projets {
  color: var(--brand-projets);
}

.brand-entrepreneuriat {
  color: var(--brand-entrepreneuriat);
}

.brand-paiement-en-ligne {
  color: var(--brand-paiement-en-ligne);
}

.brand-branding {
  color: var(--brand-branding);
}

.brand-applications {
  color: var(--brand-applications);
}

.brand-event {
  color: var(--brand-event);
}

.brand-tutoriel {
  color: var(--brand-tutoriel);
}

.brand-communaute {
  color: var(--brand-communaute);
}

.brand-astuces {
  color: var(--brand-astuces);
}
