@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.gray.100");
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.gray.300");
}

.dark *::-webkit-scrollbar-thumb {
  background-color: theme("colors.gray.700");
}

.dark *::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.gray.900");
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
